#contenedor{
    display: grid;
    grid-template-areas: 
    'header header header'
    'pelicula pelicula pelicula pelicula pelicula pelicula'
    'actors actors actors actors actors actors';
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */

}
.contenidor-header{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header{
    display: flex;
    float: inline-start;
    justify-content: center;
    padding: 15px;
    gap: 15px;
    background-color: aliceblue;
    grid-area: header;
}

.contenidor-pelicules{
    display: flex;
}

.pelicula{
    float: inline-start;
    gap: 10px;
}

.contenidor-actors{
    background-color: aliceblue;
}