.titulo{
    background-color: black;
    color: white;
    padding: 20px 0;
}
.sub{
    background-color: darkgrey;
    color: black;
}
.subtitulo{
    float: left;
    width: 50%;
}



.menu{
    overflow: hidden;
    background-color: grey;
    color: black;
    padding: 10px;
}
.menuA{
    float: left;
    width: 25%;
    padding: 0 10px;
    margin: 20px;
}
